.about-container p {
    color: #777777;
}

.about-container {
    background-color: #040c28;
}

.about-container img {
    border-radius: 15px;
}

.about-hr {
    height: 2px;
    width: 125px;
    background-color: #4020a9;
}

@media screen and (min-width: 576px) and (max-width: 920px) {
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    .about-container {
        flex-wrap: wrap;
    }
}
