.login-container {
    background-color: #040C28;
    width: 900px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.login-hr {
    height: 2px;
    width: 125px;
    background-color: #4020A9;
}

.login-input {
    width: 60%;
}

.login-control {
    padding: 10px 25px;
    border-radius: 6px;
}

.login-button {
    background-color: #4020A9;
    border: 1px solid white;
}

.login-button:hover {
    background-color: transparent;
    transition: ease-in 0.2s;
}

@media screen and (min-width: 576px) and (max-width: 820px) {
    .login-container {
        width: 550px !important;
    }

    .login-input {
        width: 80%;
    }

    .login-control {
        padding: 08px 20px;
        border-radius: 6px;
    }
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    .login-container {
        width: 350px !important;
    }

    .login-input {
        width: 100%;
    }

    .login-control {
        padding: 7px 15px;
        border-radius: 6px;
    }
}