.service-container p {
    color: #777777;
}

.service-container {
    width: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
}

.service-container img {
    display: flex;
    margin: auto;
}

.service-button {
    background-color: #4020a9;
    border: 1px solid #4020a9;
    color: white;
}

.service-button:hover {
    color: #4020a9;
    background-color: transparent;
    transition: ease-in 0.2s;
}

/* ------------RESPONSIVE FOR MOBILE DEVICES----------- */
@media screen and (min-width: 0px) and (max-width: 576px) {
    .service-container {
        width: 240px;
    }
}

/* ------------RESPONSIVE FOR TABLET DEVICES----------- */
@media screen and (min-width: 576px) and (max-width: 980px) {
    .service-container {
        width: 250px;
    }
}
