.my-nav {
    background-color: #040C28;
}

.nav-text {
    color: white;
    margin-right: 35px;
}

.nav-text:hover {
    color: #4020A9;
    transition: 0.3s;
}

.nav-text-active {
    color: #4020A9;
}