.accord-container {
    background-color: #040c28;
    border-radius: 10px;
}

.accord-item {
    width: 75%;
    color: #777777;
    box-shadow: rgb(79, 83, 87) 0px 20px 30px -10px;
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    .accord-item {
        width: 100%;
    }
}
